@import "tailwindcss";

@theme {
  --color-primary: #00d991;
}
@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  center: true;
  padding: 1.25rem;
}
.dark {
  @apply bg-[#171923] text-white;
}
